.bg-radial-gradient{
    background-image: radial-gradient(#b6b2b2 1px, transparent 1px), radial-gradient(#b6b2b2 1px, transparent 1px);
    background-size: 50px 50px;
    height: 100vh;
    /*background-position: 0 0, 0px 0px;*/
}